In [22]:
import numpy as np
import pandas as pd

In [23]:
df=pd.read_csv('mercedesbenz.csv')
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [32]:
for i in df.columns:
    print(len(df[i].unique()))

4209
2545
47
27
44
7
4
29
12
25
2
1
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
1
2
2
2
2
2
2
2
2
2
2
2
2
2
1
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
1
2
1
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
1
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
1
1
2
2
1
2
2
2
1
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
1
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
1
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2

In [37]:
lst_10=df.X1.value_counts().sort_values(ascending=False).head(10).index 
lsl_10=list(lst_10)
lst_10

Index(['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o'], dtype='object')

In [40]:
for categories in lst_10:
    df[categories]=np.where(df['X1']==categories,1,0)

In [41]:
df[lst_10]

      0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  1  0  0  0
0     0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
1     0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
2     0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
3     0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
4     0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
...  .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. .. ..
4204  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
4205  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
4206  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
4207  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
4208  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0

[4209 rows x 4209 columns]